*.apk
build/
captures/
.cxx/
deploymentTargetDropDown.xml
.DS_Store
.externalNativeBuild/
google-services.json
.gradle
*.hprof
.idea/
*.iml
*.jks
*.keystore
local.properties
*.log
misc.xml
output.json
render.experimental.xml
